RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /~user13/REST/autoShopAPI/
# show auto by id
RewriteRule ^api/auto/([0-9]+)\.([a-z]{3,4})$ index.php?c=api&a=getAutoById&id=$1&rtype=$2 [L,QSA]
# show auto by brand
RewriteRule ^api/auto/([a-z]+)\.([a-z]{3,4})$ index.php?c=api&a=getBrand&brandName=$1&rtype=$2 [L,QSA]
RewriteRule ^api/auto/([a-z]+)$ index.php?c=api&a=getBrand&brandName=$1 [L,QSA]
# show all auto
RewriteRule ^api/auto\.([a-z]{3,4})$ index.php?c=api&a=getAuto&rtype=$1 [L,QSA]
RewriteRule ^api/auto$ index.php?c=api&a=getAuto [L,QSA]

# show order history
RewriteRule ^api/history\.([a-z]{3,4})$ index.php?c=api&a=orderHistory&rtype=$1 [L,QSA]
RewriteRule ^api/history$ index.php?c=api&a=orderHistory [L,QSA]

# get request api by type
RewriteRule ^api/([a-zA-Z]+)\.([a-z]{3,4})$ index.php?c=api&a=$1&rtype=$2 [L,QSA]
# get request api
RewriteRule ^api/([a-zA-Z]+)$ index.php?c=api&a=$1 [L,QSA]



